*{
  box-sizing: border-box;
}

/* Hero Section */
/* Exercise 1 */

.bg-center {
  background-position: center;
}

.hero-space-exploration .hero-image {
  width: 1440px;
  height: 960px;
  background-size: 1440px 960px;
  background-repeat: no-repeat;
  background-image: url(/images/final-frontier_large.jpg);
}

.hero-link,
.hero-link:hover {
  color: #fff;
  text-decoration: none;
} 

@media only screen and (min-width: 1441px) {
  .hero-space-exploration .hero-image {
    background-size: cover;
    background-position: 50%;
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx) {
  .hero-space-exploration.hero-image {
    background-image: url(/images/final-frontier_large_2x.jpg);
  }
}
@media only screen and (max-width: 1068px) {
  .hero-space-exploration .hero-image {
    width: 1068px;
    height: 712px;
    background-size: 1068px 712px;
    background-repeat: no-repeat;
    background-image: url(/images/final-frontier_medium.jpg);
  }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .hero-space-exploration .hero-image {
    background-image: url(/images/final-frontier_medium_2x.jpg);
  }
}
@media only screen and (max-width: 735px) {
  .hero-space-exploration .hero-image {
    width: 735px;
    height: 490px;
    background-size: 735px 490px;
    background-repeat: no-repeat;
    background-image: url(/images/final-frontier_small.jpg);
  }
}
@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (max-width: 735px) and (min-resolution: 1.5dppx),
  only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .hero-space-exploration .hero-image {
    background-image: url(/images/final-frontier_small_2x.jpg);
  }
}

/* Timeline Section */
/*Exercise 2 */

/* First Approach 
Change class card to col-12 col-lg-6 and class main to row in the html file.*/

/*@media only screen and (min-width: 1200px) {

    .card-3{
        position: relative;
        top: -306px;
    }

    .card-5{
        position: relative;
        top: -306px;
    }

    .card-6{
        position: relative;
        top: -198px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .card-3{
        position: relative;
        top: -358px;
    }

    .card-5{
        position: relative;
        top: -358px;
    }

    .card-6{
        position: relative;
        top: -246px;
    }
} */

/* ---- Final Solution ---- */

.main{
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 735px) {

  .timeline {
    height: 3000px;
  }

  .main {
    flex-wrap: wrap;
    height: 3000px;
  }

  .card {
    width: 50%;
    border-left: solid 15px #000;
    border-right: solid 15px #000
  }

  .card:nth-child(2n + 1) {
    order: 1;
  }
  .card:nth-child(2n + 2) {
    order: 2;
  }
}


/* Gallery Section */
/* Exercise 3 */

/* For exircise 3, I made use of https://caniuse.com/css-grid. */ 

/*Adapting gallery to IE11 */

.gallery-grid {
  display: flex;
  flex-direction: column;
}

.grid-third, .grid-two-third, .grid-half {
  width: 100%;
}


@media only screen and (min-width: 735px) {

.gallery-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }
 
 .grid-third {
   width: 33%;
 }
 
 .grid-two-third {
   width: 67%;
 }

 .grid-half{
   width: 50%;
 } }